/*
  Dropdown
*/

// Animations
@keyframes dropdown-open {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0);
  }
}

@keyframes dropdown-leave {
  0% {
    clip-path: inset(0);
  }
  100% {
    clip-path: inset(0 0 100% 0);
  }
}
