.img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.img-h-40 {
  height: 40px;
  max-width: 100%;
}

.img-h-50 {
  height: 50px;
  max-width: 100%;
}

.img-h-60 {
  height: 60px;
  max-width: 100%;
}

.img-h-80 {
  height: 80px;
  max-width: 160px;
}

.img-h-80 {
  height: 104px;
  max-width: 160px;
}

@include media-to(lg) {
  .img-h-400 {
    max-height: 400px;
    object-fit: cover;
    object-position: top;
  }
  
  .img-h-500 {
    max-height: 500px;
    object-fit: cover;
    object-position: top;
  }
}

.img-w-100 {
  max-width: 100px;
  max-height: 100%;
}

.img-w-150 {
  max-width: 150px;
  max-height: 100%;
}

.img-w-250 {
  max-width: 250px;
  max-height: 100%;
}

[data-rmiz-wrap="visible"],
[data-rmiz-wrap="hidden"] {
  width: 100%;
  height: 100%;
  display: block;
}
