/*
  Breakpoints
*/

$breakpoints: (
  xxs: 0px,
  xs: 320px,
  sm: 425px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 2560px,
);

$breakpoint-values: map-values($breakpoints);
$breakpoint-keys: map-keys($breakpoints);

/*padding*/
$padding-standard: (
  xs: 35px,
  sm: 35px,
  md: 50px,
  lg: 100px,
  xl: 150px,
);

/*padding when used with grid gap*/
$padding-grid-standard: (
  xs: 25px,
  sm: 25px,
  md: 25px,
  lg: 50px,
  xl: 100px,
);

$padding-types: (
  standard: $padding-standard,
  grid-standard: $padding-grid-standard,
);

/*
  Grid
*/

$grid-gaps: (
  0: 0,
  10: (
    calc(10 / 16) * 1rem,
  ),
  20: (
    calc(20 / 16) * 1rem,
  ),
  30: (
    calc(30 / 16) * 1rem,
  ),
  50: (
    calc(50 / 16) * 1rem,
  ),
  75: (
    calc(75 / 16) * 1rem,
  ),
  100: (
    calc(100 / 16) * 1rem,
  ),
);

$grid-columns: 12 !default;
$grid-gutter-width: 2.5rem;

/*
  Spacers
*/

$spacers: (
  0: 0,
  5: (
    calc(5 / 16) * 1rem,
  ),
  10: (
    calc(10 / 16) * 1rem,
  ),
  15: (
    calc(15 / 16) * 1rem,
  ),
  20: (
    calc(20 / 16) * 1rem,
  ),
  25: (
    calc(25 / 16) * 1rem,
  ),
  30: (
    calc(30 / 16) * 1rem,
  ),
  50: (
    calc(50 / 16) * 1rem,
  ),
  75: (
    calc(75 / 16) * 1rem,
  ),
  100: (
    calc(100 / 16) * 1rem,
  ),
  lg: 5%,
  xl: 8%,
);

$button-widths: (
  xs: 360px,
  sm: 360px,
  md: 360px,
  lg: 360px,
  xl: 560px,
  xxl: 560px,
);